{% extends '@backend/template/layout/app_layout.twig' %}
{% block breadcrumbs %}
    <h4 class="fw-bold py-3 mb-5"><a href="{{ url_for('company.get.list') }}" class="font-monospace text-decoration-none fw-light ms-5">Empresas </a>  / Empresas recientes</h4>
{% endblock %}

{% block body %}
    {% include '@backend/company/partials/list.twig' %}  
{% endblock %}